* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: #ffffff;
}

.title-card{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    position: fixed;
}

h1{
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200px;
    text-align: center;
    position:relative;
    top: -2%;
    color: #1E1E1E;

}

.resize-bigbird{
    width: 1100px;
    height: auto;
    position: relative;
    text-align: center;
    left: 5%;
    top: -20%;
}

.resize-bigbird2{
    width: 1100px;
    height: auto;
    position: absolute;
    text-align: center;
    left: 5%;
    top: 15%;
}




@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  

  .resize-bigbird {
    animation: blink 1.5s steps(1, start) infinite; 
    animation-delay: 0.5s; 
  }

  @keyframes blink {
    100% { opacity: 1; }
    50% { opacity: 0; }
    0% {opacity: 1}
  }
  
  .resize-bigbird2 {
    animation: blink 1.5s steps(1, start) infinite; 
    animation-delay: -0.25s; 
  }

  button{
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    position:relative;
    top: 90vh;
    left: 80%;
    z-index: 4;
    align-self:  center center;
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

button:hover{
    color: rgb(132, 132, 132);
    align-self: center;
}