* {
    padding:0;
    margin:0;
    box-sizing: border-box;

}

body{
    background-color: #ffffff;
}

.resize-bar{
    width: 400px;
    height: auto;
    position: relative;
    margin: auto;
    display: flex;
    left: 510px;
    top: -120px;
}



.resize-bigbird{
    width: 400px;
    height: auto;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    left: -10px;
    top: -280px;
}

.resize-bigbird {
    animation: blink 1.5s steps(1, start) infinite; 
    animation-delay: 0.5s; 
}

  @keyframes blink {
    100% { opacity: 1; }
    50% { opacity: 0; }
    0% {opacity: 1}
}

.resize-bigbird2{
    width: 400px;
    height: auto;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    left: -10px;
    top: -680px;
}

.resize-bigbird2 {
    animation: blink 1.5s steps(1, start) infinite; 
    animation-delay: -0.25s; 
}

.typewriter-container1{
    width: 520px;
    height: 100px;
    margin: 0 auto; 
    overflow: hidden; 
    position: relative;
    top: -660px;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter-text1{
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    position:relative;
    color: #1E1E1E;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: .15em #1E1E1E;

    animation: 
    typing 4s steps(80, end) forwards, 
    blink-caret .75s step-end infinite; 
    animation-delay: 0s; 

}

@keyframes typing {
  from { width: 0% }
  to { width: 500px } 
}

.cover1{
    width: 1000px;
    height: 50px;
    background-color: #ffffff;
    position: relative;
    top: -740px;
    margin: 0 auto; 
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 0s;
   -webkit-animation: 6s ease 0s normal forwards 1 fadein;
    animation: 6s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    67% { opacity: 1; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    67% { opacity: 1; }
    100% { opacity:1; }
}



.typewriter-container2{
    width: 600px;
    height: 50px;
    margin: 0 auto; 
    overflow: hidden; 
    top: -785px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}


.typewriter-text2{
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    align-content: center;
    position: relative;
    color: #1E1E1E;
    white-space: nowrap; 
    overflow: hidden;
    
    width: 0;
    border-right: .15em #1E1E1E;

    animation: 
    typing 4s steps(41, end) forwards, 
    blink-caret .75s step-end infinite; 
    animation-delay: 4s; 
}

@keyframes typing {
  from { width: 0% }
  to { width: 600px } 
}


.cover2{
    width: 63%;
    height: 50px;
    background-color: #ffffff;
    position: relative;
    top: -830px;
    margin: 0 auto; 
   -webkit-animation: 14s ease 0s normal forwards 1 fadein;
    animation: 14s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    67% { opacity: 1; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    67% { opacity: 1; }
    100% { opacity:1; }
}


.typewriter-container3{
    width: 600px;
    height: 50px;
    margin: 0 auto; 
    overflow: hidden; 
    margin-top: -883px;
    position: static;

    display: flex;
    justify-content: center;
    align-items: center;
}


.typewriter-text3{
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    align-content: center;
    position: relative;
    color: #1E1E1E;
    white-space: nowrap; 
    overflow: hidden;
    
    width: 0;
    border-right: .15em #1E1E1E;

    animation: 
    typing 4s steps(41, end) forwards, 
    blink-caret .75s step-end infinite; 
    animation-delay: 9.2s; 
}

@keyframes typing {
  from { width: 0% }
  to { width: 600px } 
}

.container{
    height: 80%;
    width: 30px;
    border-radius: 50px;
    background-color: #bababa;;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 3%;
    top: 50%;
    animation: fadeOut 0.2s ease 21s forwards; 
}

.slide-in{
    height: 80px;
    width: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 8%;
    left: 15px;
    animation: 
        slide 3s ease 21 forwards, 
        fadeOut 0.2s ease 21s forwards; 
    z-index: 1;
}

@keyframes slide {
    0%{
        transform: translate(-50%, -50%) translateY(0);
    }
    100%{
        transform: translate(-50%, 375px) translateY(100%);
    }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.containercover{
    height: 80%;
    width: 30px;
    border-radius: 50px;
    background-color: #ffffff;;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 3%;
    top: 50%;
    animation: fadeOut 0s ease 12s forwards; 
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    margin-top: 300px;
    padding-bottom: 170px; 
   
}

button, button2, button3, button4 {
    display: block;
    width: 350px; 
    border: 4px solid #1E1E1E;
    padding: 20px;
    border-radius: 50px;
    font-family: "lores-12", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    
  
    position: static; 
    top: 0;
    left: 0;
    transform: none;
}

button {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

button2, button3, button4 {
    background-color: #848484;
    color: white;
    border-color: #848484;
}

button:hover {
    background-color: #848484;
}